@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat');

body {
  font-family: 'Architects Daughter', cursive;
  color: rgb(37, 37, 37);
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

.iconContainer img {
  margin: 15px;
}


input {
  display: block;
  margin: 0 auto;
  width: 180px;
  border-radius: 20px;
  padding: 5px;
  border: 2px solid rgb(192, 192, 192);
  text-align: center;
}

button {
  margin-top: 10px;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin-bottom: 25px;
  background-color: rgb(60, 160, 226);
  color: white;
}

.cat {
  margin-right: 19px;
}